RewriteEngine On
RewriteBase /proyek2
RewriteCond $1 !^(index.php\.php|resource|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]